<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.prer.SplashScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.prer.HomeScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.prer.CameraActivity"
            android:label="@string/title_capture_bill"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.prer.ReviewBillActivity"
            android:label="@string/title_review_bill"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.prer.UploadedBillActivity"
            android:label="@string/title_uploaded_bill"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.prer.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        
        <activity
            android:name="com.prer.ProcedureResultsList"
            android:label="@string/title_activity_procedure_results_list" >
        </activity>
        
        <activity
            android:name="com.prer.ProcedureInformation"
            android:label="@string/title_activity_procedure_information" >
        </activity>
        
        <uses-library android:name="android.test.runner" />
        
    </application>
	<instrumentation
	  android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
	  android:targetPackage="com.prer"/>
</manifest>
